@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$lightActive: #F2BDBD;
$active: #FA8072;
$darkRed: #530000;
$gradient: #B0252D;

$default-font: 'Inter', sans-serif;
